{% extends "nav_footer.j2" %}

{% block content %}

<div class="container" style="max-width:35vw">
<legend class="d-flex float-none w-auto p-2 justify-content-center">Terms Codes</legend>
    <table class="table">
        <thead class="align-center text-center">
            <tr>
                {% for key in termscodes[0].keys() %}
                    <th>{{key}}</th>
                {% endfor %}
            </tr>
        <tbody>
            {% for termcode in termscodes %}
                <tr class="align-middle text-center">
                    {% for val in termcode.keys() %}
                    <td>{{termcode[val]}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<form class="container" style="max-width:35vw" action="" method="POST">
    <legend class="float-none w-auto p-2 text-center">Add TermCode</legend>
    <div class= "row g-3 justify-content-center">
        <div class="col-md-2 text-center">
            <label for="inputTermCode" class="form-label">TermCode</label>
            <input type="text" class="form-control" id="inputTermCode" name="inputTermCode" required>
        </div>
        <div class="col-md-6 text-center">
            <label for="inputDescription" class="form-label">Description</label>
             <input type="text" class="form-control" id="inputDescription" name="inputDescription" required>
        </div>
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>  
</form>

{% endblock %}